
.footer {
  width: 100%;
  background-color: var(--ct-color-bg-tertiary);
  display: flex;
  justify-content: center;
}

.footer-container {
  width: 100%;
  max-width: 960px;
  height: 120px;
  padding: 40px;

  display: flex;
  flex-direction: column;   
  align-items: center;
  gap: 6px;
}

.footer-title {
    font-weight: 400;
    font-style: Italic;
    font-size: 12px;
    color:var(--ct-color-font-primary);
    text-align: center;
    
}

.footer-address {
    font-weight: 400;
    font-style: Italic;
    font-size: 12px;
    color:var(--ct-color-font-primary);   
    text-align: center;
}
