

.card-container {
    width: 100%;
    max-width: 746px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--ct-color-bg-tertiary); 
    border-radius: 10px;
    margin: 15px 0 15px 0;
    
}

.card-container img {
    width: 100%;
    max-width: 260px;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

.card-container p {
    font-weight: 700;
    font-size: 16px;
    color: var(--ct-color-font-secondary);

}