

.comments-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    background-color: var(--ct-color-bg-primary);
    border: 1px solid var(--ct-color-bg-tertiary);
    border-radius: 12px;
    margin: 0 0 10px;
}

.comments-container p {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--ct-color-font-tertiary);
    padding: 0 10px;

}