

.comments-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 960px;
    height: 74px;
    background-color: var(--ct-color-bg-primary);
    border: 1px solid var(--ct-color-bg-tertiary);
    border-radius: 12px;
    margin: 0 0 10px;
    

}

.comments-container p {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--ct-color-font-tertiary);

}