
header {
    width: 100%;
    height: 70px;
    background-color: var(--ct-color-bg-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header h1 {
    font-size: 20px;
    font-size: bold;
    color: var(--ct-color-font-primary);
    padding: 0 20px;
    text-align: center;
    
}