

.cards-section {
width: 100%;
padding: 10px;
box-sizing: border-box;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;

}

.cards-section h1 {
    font-size: 20px;
    font-weight: 700px;
    color: var(--ct-color-font-secondary);
    margin: 0 auto;
   
    

}
