

.cards-section {
width: 100%;
box-sizing: border-box;
margin: 15px 0 0 0;
display: flex;
flex-direction: column;
align-items: center;

}

.cards-section h1 {
    font-size: 20px;
    font-weight: 700px;
    color: var(--ct-color-font-secondary);
    margin: 0 0 5px 0;
}

.catalog-cards-container {
    width: 100%;
    max-width: 746px;
    padding: 0 10px 0 10px;
}

.comments-section {
width: 100%;
background-color: var(--ct-color-bg-secondary);
height: 692px;
display: flex;
flex-direction: column;
align-items: center;
box-sizing: border-box;

}

.catalog-comments-container {
    width: 100%;
    max-width: 960px;
    height: 74px;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
}

.comments-section h1 {
    font-size: 20px;
    font-weight: 700px;
    color: var(--ct-color-font-secondary);
    margin: 15px 0 15px 0;
}